*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

main{
    margin: auto;
    width: 72%;
    background-color: #fff;
}

main header{
    padding-bottom: 48px;
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
}

nav{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #111100;
    color: white;
}

.imgbox{
    width: 50%;
    display: block;
}

img.eu{
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
}

header.Apresentacao{
    margin:auto;
    width: 50%;
    flex-direction: column;
}

h2, h3, h4{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 4rem;
    line-height: 3;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
}

section{
    display: block;
    background-color: #dda;
    padding-top: 16px;
    padding-bottom: 16px;
}

ul{
    margin: auto;
    display: flex;
    list-style-type: none;
}

ul li{
    width: 19.2%;
    border: 1px solid #888;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
}

input.butao{
    border: none;
    background-color: #a00;
    padding: 8px;
    color: white;
    border-radius: 2px;
}

input.butao:hover {
    background-color: red;
}

article{
    padding-top: 16px;

    padding-bottom: 64px;
}

label{
    display: block;
    margin-bottom: 16px;
}

ol{
    margin-left: 32px;
    flex-direction: column;
    display: flex;
}

ol li{
    line-height: 2;
}

.johnyR{
    width: 1rem;
    height: 1rem;
    background-color: red;
}

.johnyG{
    width: 1rem;
    height: 1rem;
    background-color: green;
}

.johnyB{
    width: 1rem;
    height: 1rem;
    background-color: black;
}

.johnyA{
    width: 1rem;
    height: 1rem;
    background-color: blue;    
}

.johnyP{
    width: 1rem;
    height: 1rem;
    background-color: purple;
}



a{
    text-decoration: none;
    margin-left: 16px;
    color: white;

}

footer{
    display: block;
    margin: auto;
    background-color: #282800;
}



